.cabecera{
    background-color: $colorTwo;
    height: 25px;
    .cabecera__link{
        color: $colorOne;
        &:hover{
            color: $colorThree;
            text-decoration: none;  
        }
    }
}
