footer{
    background-color: $colorTwo;
    color: $colorOne;
    font-family: $fontOne;
    border-top: solid 1px $colorOne;
    .shops{
        .shops__title{
            font-size: 30px;
        }    
        .shops__container{
            ul{
                li{
                    text-decoration: none;
                    list-style: none;
                    
                    .shops__link{
                        color:$colorOne;
                        font-size: $sizeOne;
                        &:hover{
                            color: $colorThree;}    
                    }                                
                }
            }
        }

    }
    .contact{
        .contact__title{
            font-size: 30px;
        }    
        .contact__container{
            ul{
                li{
                    text-decoration: none;
                    list-style: none;
                    
                    .contact__link{
                        color:$colorOne;
                        font-size: $sizeOne;
                        &:hover{
                            color: $colorThree;}     
                    }                                
                }
            }
        }

    }
    .menu-footer{
        .menu-footer__title{
            font-size: 30px;
        }    
        .menu-footer__container{
            ul{
                li{
                    text-decoration: none;
                    list-style: none;
                    
                    .menu-footer__link{
                        color:$colorOne;
                        font-size: $sizeOne;
                        &:hover{
                            color: $colorThree;}     
                    }                                
                }
            }
        }

    }
}