footer{
    background-color: $colorTwo;
    border-top: solid 1px $colorOne;
    color: $colorOne;
    font-family: $fontOne;
    .shops{
        .shops__title{
            font-size: $sizeOne;
            font-weight: 900;
        }    
        .shops__container{
            ul{
                li{
                    list-style: none;
                    text-decoration: none;
                    .shops__link{
                        color:$colorOne;
                        font-size: $sizeFive;
                        &:hover{
                            color: $colorThree;}    
                    }                                
                }
            }
        }
    }
    .contact{
        .contact__title{
            font-size: $sizeOne;
            font-weight: 900;
        }    
        .contact__container{
            ul{
                li{
                    list-style: none;
                    text-decoration: none;
                    .contact__link{
                        color:$colorOne;
                        font-size: $sizeFive;
                        &:hover{
                            color: $colorThree;}     
                    }                                
                }
            }
        }

    }
    .menu-footer{
        .menu-footer__title{
            font-size: $sizeOne;
            font-weight: 900;
        }    
        .menu-footer__container{
            ul{
                li{
                    list-style: none;
                    text-decoration: none;
                    .menu-footer__link{
                        color:$colorOne;
                        font-size: $sizeFive;
                        &:hover{
                            color: $colorThree;}     
                    }                                
                }
            }
        }

    }
    .envios{
        color:$colorOne;
        font-size: $sizeOne;
    }
    .rights{
        border-top: 1px $colorOne solid;
        .rights__text{
            color: $colorOne;
            font-size: $sizeSix;
        }
    .logoSlam{
        height: 32px;
        width: 32px;
        }
    }
}