#header{
    background-color: $colorOne;
    border-bottom: solid 1px;
    font-family: $fontOne;
}

.navbar__title{
    font-family: $fontOne;
    font-size: 45px;
}

.navbar-nav{
    margin-right: 50px;
}

.navbar__button{
    font-size: $sizeOne;
}