// Carousel


.carousel-caption{
    background-color: $colorEight;

    .carousel__title{
        color: $colorOne;
        font-size: 30px;
        font-weight: 900;
    }
    .carroulser__text{
        color: $colorOne;
        font-size: 20px;
        font-weight: 900;
    }
}

//Binevenida

.welcome__title{
    color: $colorTwo;
    font-size: $sizeFour;
    margin-bottom: 30px;
    margin-top: 60px;
}

.welcome__text{
    color: $colorSix;
    font-size: $sizeThree;
    margin-bottom: 100px;    
}

//Mian 

.main-index{
    .main__title{
        font-family: $fontTwo;
        font-size: $sizeTwo;
        text-decoration: underline;
    }
}

.sleeping-bag__img{
    height: 120px;
    margin: 20px;
    width: 130px;
}

.blanket__img{
    @extend .sleeping-bag__img;
}
.pijama__img{
    @extend .sleeping-bag__img;
}



//cards 
.cardOne{
        background-color: $colorTwo;
        .cardOne__title{
            color: $colorOne;
            font-family: $fontOne;
            font-weight: 900;
            font-size: $sizeThree;
            margin: 20px;
        }
        .cardeOne__text{
            font-family: $fontThree;
            font-size: $sizeOne;
        }
        .cardOne__img{
            width: 100%;
        }
    }

    .cardTwo{
        background-color: $colorTwo;
        .cardTwo__title{
            color: $colorOne;
            font-family: $fontOne;
            font-size: $sizeThree;
            font-weight: 900;
            margin: 20px;
        }
        .cardeTwo__text{
            font-family: $fontThree;
            font-size: $sizeOne;
        }
        .cardTwo__img{
            width: 90%;
        }
    }

