*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:$colorOne ;
}

a:hover{
    color: $colorThree;
    text-decoration: none;
}

//seccion de productos//

.mian-products__title{
    @extend .welcome__title;
}

.mian-products__text{
    @extend .welcome__text;
    color: $colorTwo;
    margin: 20px;
}

#sleepingBag{
    color: $colorTwo;
    text-align: center;
}
#cobija{
    @extend #sleepingBag;
}
#pijamas{
    @extend #sleepingBag;
}

.container__sleepingBag{
    background: $colorOne;
}
.container__blanket{
    background: $colorOne;
}
.container__pijamas{
    background: $colorOne;
}    

.sleepingBag__title{
    border-bottom: 2px solid $colorTwo;
    font-size: $sizeTwo;
    margin-bottom: 20px;
    margin-top: -170px;
    padding-bottom: 20px;
    padding-top: 170px;
    text-decoration: underline;
}

.blanket__title{
    @extend .sleepingBag__title;
}

.pijamas__title{
    @extend .sleepingBag__title
}

.galery{
    border-radius: 30px;
    font-family: $fontOne;
    font-size: $sizeOne;
    margin: 40px;
    width: 300px;

    .galery__text{
        color: $colorTwo;
    }
    .galery__text--tallas{
        color: $colorTwo;
        font-size: $sizeFive;
        margin-bottom: 20px;
    }
    .galery__img{
        max-height: 250px;
        max-width: 200px;
        &:hover{
            transform: scale(1.05,1.05);
            transition: 0.5s;
        }
    }
}

//Página de historias

.mainStories__title{
    border-bottom: 2px solid $colorTwo;
    font-size: $sizeTwo;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
}

.mainStories__text{
    @extend .mian-products__text;
    padding: 10px;
}

.mainStories__link{
    .mainStories__text{
    &:hover{
        color: $colorThree;
    }
}
}

.storyOne{
    background: linear-gradient($colorFour, $colorOne);
}
.storyTwo{
    background: linear-gradient($colorOne, $colorFour);
}
.storyOne__title{
    border-bottom: 2px solid $colorTwo;
    font-family: $fontTwo;
    font-size: $sizeTwo;
}

.storyOne__text{
    font-family: $fontThree;
    font-size: $sizeOne;
}

.storyOne__img{
    height: auto;
    width: 100%;
}
.storyTwo__title{
    @extend .storyOne__title;
}

.storyTwo__text{
    @extend .storyOne__text;
}
.storyTwo__img{
    max-height: 400px;
    max-width: 450px;
}

.yourStories{
    border: solid 2px $colorTwo;

}
.yourStories__title{
    font-size: $sizeThree;
    margin-bottom: 20px;
}

.yourStories__text{
    @extend .storyOne__text;
    margin-bottom: 50px;
    .yourStories__link{
        color: $colorTwo;
        &:hover{
            color:$colorThree;
        }
    }
}

//Página de tiendas//

.mainShops__title{
    @extend .mainStories__title;
}

.mainShops__text{
    @extend .mainStories__text;
}

.shop1__title,
.shop2__title,
.shop3__title,
.shop4__title,
.shop5__title,
.shop6__title{
    font-size: $sizeTwo;
    margin-top: -170px;
    padding-bottom: 20px;
    padding-top: 170px;
}

.shop__text{
    color: $colorTwo;
    font-size: $sizeOne;
    margin: 20px;
}
//Página de contacto//

#mainContact{
    font-family: $fontOne;
    font-size: $sizeOne;
}

.contacto__title{
    @extend .sleepingBag__title
}

$redes: "facebook", "whatsapp", "instagram", "mail";
@each $redes in $redes {
    .red__#{$redes} {
      background-image: url("../images/iconos/#{$redes}.png")
    }
}

.red__facebook {
    background-size:30px 30px;
    height: 30px;
    margin: 10px;
    width: 30px;
}

.red__instagram {
    background-size:30px 30px;
    height: 30px;
    margin: 10px;
    width: 30px;
}
.red__whatsapp {
    background-size:30px 30px;
    height: 30px;
    margin: 10px;
    width: 30px;
   
}
.red__mail {
    background-size:30px 30px;
    height: 30px;
    margin: 10px;
    width: 30px;
}
.red__mail--link{
    color: rgba(128, 255, 0, 0);
    &:hover{
        color: rgba(128, 255, 0, 0) ;
    }
}

.red__facebook--link,
.red__whatsapp--link,
.red__instagram--link{
    @extend .red__mail--link;
}

//Página de gracias// 

.thanks__title{
    font-size: $sizeTwo;
    margin: 60px;
}
.thanks__text{
    font-size: $sizeOne;
    margin: 50px;
}

