$colorOne:#fdfdfd;
$colorTwo:#272727;
$colorThree: #f39316;
$colorFour: #faafbb;
$colorFive: #e0e0e0;
$colorSix: #797979;
$colorSeven: #cf0000;
$colorEight:#27272767;

$fontOne: Georgia, 'Times New Roman', Times, serif;
$fontTwo: Arial, Helvetica, sans-serif;
$fontThree: serif;

$sizeOne: 18px;
$sizeTwo: 42px;
$sizeThree: 23px;
$sizeFour:52px;